<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SentenSnap</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <h1>SentenSnap</h1>
            </div>
            <div class="navbar-right">
                <a href="/word_search" id="word-search-link">Word Search</a>
                <a href="/image_generation" id="image-generation-link">Image Generation</a>
                <!-- <a href="#" class="signup">Sign Up</a>
                <a href="#" class="login">Login</a> -->
            </div>
        </nav>
    </header>

    <main>
        <div class="content-container">

            <div class="sentence-of-the-day">
                <p id="current-date" class="date"></p>
                
                <div id="quote-container">
                    <h2>
                        <span id="quote-text"></span>
                    </h2>
                    <p id="quote-author"></p>
                    <p id="quote-context"></p>
                </div>

                <button id="refresh-quote" title="Refresh Quote">&#x21bb;</button>
                <div class="hint-section">
                    <p>Refresh to get a new quote!</p>
                    <p>Click on any word to get its snapshot!</p>
                    <p>Get AI-generated image for sample sentence of selected word!</p>
                </div>
            </div>

            <div class="flex-container">
                <div class="definition-section">
                  <h3>Word Snapshot</h3>
                  <div id="definition-results"></div>
                </div>
                <div class="image-generation-section">
                    <h3>Image Generation</h3>
                    <div class="style-selection">
                        <label for="home-style-select">Select Image Style:</label>
                        <select id="home-style-select">
                            <option value="ink">Ink</option>
                            <option value="cartoon">Cartoon</option>
                        </select>
                        <button id="generate-image-btn">Generate Image</button> <!-- Add the button -->
                    </div>
                    <div id="generated-image"></div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <h4>SentenSnap</h4>
                <p>&copy; 2024 SentenSnap. All rights reserved.</p>
                <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="footer-right">
                <h4>Quick Links</h4>
                <div class="footer-links">
                    <a href="#">About Us</a>
                    <a href="#">Partners</a>
                    <a href="#">Solutions</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="../static/scripts.js"></script>
</body>
</html>